<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :occupancy %><br>
    <%= f.number_field :occupancy %>
  </div>
  <div class="field">
    <%= f.label :proptype %><br>
    <%= f.text_field :proptype %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
    <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, multiple: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
