<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Occupancy:</strong>
  <%= @listing.occupancy %>
</p>

<p>
  <strong>Proptype:</strong>
  <%= @listing.proptype %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @listing.details %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Image:</strong>
<% @listing.picture.each do |x| %>
<a href="<%=x.url%>"><%= image_tag x.thumb.url %></a>
<% end %>
</p>

<%= render 'bookings/form' %>

<br>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
